/autostart/
/brave/
/BraveSoftware/
/dconf/
/eog/
/evince/
/evolution/
gnome-initial-setup-done
/gnome-session/
GNOME-xdg-terminals.list
/goa-1.0/
.gsd-keyboard.settings-ported
/gtk-3.0/
/gtk-4.0/
/ibus/
/kitty/
/libreoffice/
/light/
/matplotlib/
/menus/
/nautilus/
/procps/
/pulse/
QtProject.conf
/rclone/
/simple-scan/
syncthingtray.ini
/systemd/
/tiling-assistant/
ubuntu-xdg-terminals.list
/update-notifier/
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
/yelp/

*~
